#content {
    height: 95%;
    width: 99%;
    display: grid;
    grid-template-columns: auto auto auto;
}
#content>div {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 5px;
}
#yourForms {
    background-color: red;
    height: 100%;
    border-radius: 0.5rem;
}
#formDeclare {
    background-color: purple;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 1rem;
    border-radius: 0.5rem;
    margin: 5px;
}
#addField>form {
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 1rem;
}
#formLinks {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
    row-gap: 0.5rem;
}
#formDemo {
    margin: 5px;
    background-color: green;
    border-radius: 0.5rem;
    align-items: center;
    justify-items: center;
    row-gap: 0.5rem;
}